@import "tailwindcss";
@plugin "daisyui";


@font-face {
    font-family: 'Copperplate Regular';
    src: url('../assets/fonts/Copperplate-Regular.ttf');
    font-display: swap;
}
.copperplate {
    font-family: 'Copperplate Regular';
    font-style: normal;
  }
  
  .open-sans {
    font-family: "Open Sans", sans-serif;
  }


  [x-cloak] { display: none !important; }
